.addUser {
  background-color: white;
  padding: 40px;
  width: 25%;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.65);
}

.addUser .inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addUserForm .inputGroup label {
  margin-top: 5px;
}

.addUserForm .inputGroup input {
  margin-bottom: 5px;
  padding: 10px;
}

.addUserForm .inputGroup button {
  margin-top: 8px;
}

.addUser h3 {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  color: blue;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.addUser i {
  margin-right: 5px;
}
